{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<h2>Past transactions</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction["symbol"] }}</td>
            <td>{{ transaction["quantity"]}}</td>
            <td>{{ transaction["price"] | usd }}</td>
            <td>{{ transaction["create_date"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
