{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="currentPassword" placeholder="Current Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="newPassword" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmPassword" placeholder="Confirm Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
